<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- import custom css -->
    <link rel="stylesheet" href="/client/style.css">

    <title>Login Page</title>
</head>
<body>
    <div class="container">
        <div class="logo_login">Bud<span>get</span></div>
    
        <div class="form_login">
            <div class="error_message"></div>
            <input type="email" class="form_input input-login" placeholder="Email">
            <input type="password" class="form_input input-password" placeholder="Password">
            <div class="form_login-btn">
                <button class="btn_submit submit-login">Login</button>
                <button class="btn_submit submit-register">Register</button>
            </div>
        </div>
    </div>

    <script src="/client/login.js"></script>
</body>
</html>